<!DOCTYPE html>

<head>

	<!-- Basic Page Needs
================================================== -->
	<title>INTERNMATE</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- CSS
================================================== -->
	{% load static %}
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
	<link rel="stylesheet" href="{% static 'css/main-color.css' %}" id="colors">

</head>

<body>

	<!-- Wrapper -->
	<div id="wrapper">
		<header id="header-container">
			<div id="header" class="not-sticky">
				<div class="container">
					<div class="left-side">
						<div id="logo">
							<a href="{% url 'index' %}"> <img src="{% static 'images/internmate_transparent.png' %}"
									alt="Logo"></a>
						</div>
						<div class="mmenu-trigger">
							<button class="hamburger hamburger--collapse" type="button">
								<span class="hamburger-box">
									<span class="hamburger-inner"></span>
								</span>
							</button>
						</div>
						<nav id="navigation" class="style-1">
							<ul id="responsive">
								<li><a class="current" href="{% url 'index' %}">Home</a></li>
								<li><a href="{% url 'internships' %}">Internships</a>
									<ul>
										<li><a href="{% url 'fullstackwithpython' %}">Full Stack Web Dev</a></li>
										<li><a href="{% url 'webdesigning' %}">Web Dev</a></li>
										<li><a href="{% url 'pythoninternship' %}">Python</a></li>
										<li><a href="{% url 'javainternship' %}">Java</a></li>
										<li><a href="{% url 'javascriptinternship' %}">JavaScript</a></li>
										<li><a href="{% url 'bootstrapinternship' %}">Bootstrap</a></li>
										<li><a href="{% url 'htmlinternship' %}">HTML</a></li>
										<li><a href="{% url 'cssinternship' %}">CSS</a></li>
									</ul>
								</li>
								<li><a href="{% url 'aboutus' %}">About</a></li>
								<li><a href="{% url 'faq' %}">FAQ</a></li>
								<li><a href="{% url 'contact' %}">Contact</a></li>
							</ul>
						</nav>

						<div class="clearfix"></div>
					</div>
					<div class="right-side">
						<div class="header-widget">
							<a href="#sign-in-dialog" class="sign-in popup-with-zoom-anim button border"><i
									class="sl sl-icon-login"></i> Sign In</a>
							<a href="{% url 'contact' %}" class="button border with-icon">Contact Us <i
									class="sl sl-icon-envelope-open"></i></a>
						</div>
					</div>
					<!-- Sign In Popup -->
					<div id="sign-in-dialog" class="zoom-anim-dialog mfp-hide">

						<div class="small-dialog-header">
							<h3>Sign In</h3>
						</div>

						<!--Tabs -->
						<div class="sign-in-form style-1">

							<ul class="tabs-nav">
								<li class=""><a href="#tab1">Log In</a></li>
								<li><a href="#tab2">Register</a></li>
							</ul>

							<div class="tabs-container alt">

								<!-- Login -->
								<div class="tab-content" id="tab1" style="display: none;">
									<form method="post" class="login">

										<p class="form-row form-row-wide">
											<label for="username">Username:
												<i class="im im-icon-Male"></i>
												<input type="text" class="input-text" name="username" id="username"
													value="" />
											</label>
										</p>

										<p class="form-row form-row-wide">
											<label for="password">Password:
												<i class="im im-icon-Lock-2"></i>
												<input class="input-text" type="password" name="password"
													id="password" />
											</label>
											<span class="lost_password">
												<a href="#">Lost Your Password?</a>
											</span>
										</p>

										<div class="form-row">
											<input type="submit" class="button border margin-top-5" name="login"
												value="Login" />
											<div class="checkboxes margin-top-10">
												<input id="remember-me" type="checkbox" name="check">
												<label for="remember-me">Remember Me</label>
											</div>
										</div>

									</form>
								</div>

								<!-- Register -->
								<div class="tab-content" id="tab2" style="display: none;">

									<form method="post" class="register">

										<p class="form-row form-row-wide">
											<label for="username2">Username:
												<i class="im im-icon-Male"></i>
												<input type="text" class="input-text" name="username" id="username2"
													value="" />
											</label>
										</p>

										<p class="form-row form-row-wide">
											<label for="email2">Email Address:
												<i class="im im-icon-Mail"></i>
												<input type="text" class="input-text" name="email" id="email2"
													value="" />
											</label>
										</p>
										<p class="form-row form-row-wide">
											<label for="phone">Phone Number:
												<i class="sl sl-icon-phone"></i>
												<input type="tel" class="input-text" name="phone" id="phone" value="" />
											</label>
										</p>

										<p class="form-row form-row-wide">
											<label for="password1">Password:
												<i class="im im-icon-Lock-2"></i>
												<input class="input-text" type="password" name="password1"
													id="password1" />
											</label>
										</p>

										<p class="form-row form-row-wide">
											<label for="password2">Repeat Password:
												<i class="im im-icon-Lock-2"></i>
												<input class="input-text" type="password" name="password2"
													id="password2" />
											</label>
										</p>

										<input type="submit" class="button border fw margin-top-10" name="register"
											value="Register" />

									</form>
								</div>

							</div>
						</div>
					</div>
					<!-- Sign In Popup / End -->
				</div>
			</div>
		</header>

		<!-- Header Container
================================================== -->

		<div class="clearfix"></div>
		<!-- Header Container / End -->


		<!-- Titlebar
================================================== -->
		<div id="titlebar" class="gradient">
			<div class="container">
				<div class="row">
					<div class="col-md-12">

						<h2>Programming</h2><span>Programming Interships we offer</span>

						<!-- Breadcrumbs -->
						<nav id="breadcrumbs">
							<ul>
								<li><a href="{% url 'index' %}">Home</a></li>
								<li>Programming</li>
							</ul>
						</nav>

					</div>
				</div>
			</div>
		</div>


		<!-- Content
================================================== -->
		<div class="container">
			<div class="row">

				<div class="col-lg-9 col-md-8 padding-right-30">



					<!-- Sorting / Layout Switcher / End -->


					<div class="row">

						<!-- Listing Item -->
						<div class="col-lg-12 col-md-12">
							<div class="listing-item-container list-layout">
								<a href="{% url 'pythoninternship' %}" class="listing-item">
									<!-- Image -->
									<div class="listing-item-image">
										<img src="{% static 'images/python-svgrepo-com.png' %}" alt="">
										<span class="tag">Programming</span>
									</div>

									<!-- Content -->
									<div class="listing-item-content">
										<div class="listing-badge now-open">POPULAR</div>

										<div class="listing-item-inner">
											<h3>PROGRAMMING WITH PYTHON<i class="verified-icon"></i></h3>
											<span>You wil Learn Python from basic to Advanced</span>
											<div class="star-rating" data-rating="4.5">
												<div class="rating-counter">( 52 reviews)</div>
											</div>
										</div>

										<span class="like-icon"></span>
									</div>
								</a>
							</div>
						</div>
						<!-- Listing Item / End -->

						<!-- Listing Item -->
						<div class="col-lg-12 col-md-12">
							<div class="listing-item-container list-layout">
								<a href="{% url 'javainternship' %}" class="listing-item">


									<!-- Image -->
									<div class="listing-item-image">
										<img src="{% static 'images/java-logo-svgrepo-com.png' %}" alt="Java Logo">
										<span class="tag">Programming</span>
									</div>

									<!-- Content -->
									<div class="listing-item-content">

										<div class="listing-item-inner">
											<h3>JAVA PROGRAMMING <i class="verified-icon"></i></h3>
											<span>CORE AND ADVANCED JAVA</span>
											<div class="star-rating" data-rating="5.0">
												<div class="rating-counter">(23 reviews)</div>
											</div>
										</div>
										<span class="like-icon"></span>
									</div>
								</a>
							</div>
						</div>
						<!-- Listing Item / End -->

						<!-- Listing Item -->
						<div class="col-lg-12 col-md-12">
							<div class="listing-item-container list-layout">
								<a href="{% url 'javascriptinternship' %}" class="listing-item">

									<!-- Image -->
									<div class="listing-item-image">
										<img src="{% static 'images/javascript-logo-svgrepo-com.png' %}"
											alt="JavaScript Logo">
										<span class="tag">PROGRAMMING</span>
									</div>

									<!-- Content -->
									<div class="listing-item-content">
										<div class="listing-badge now-open">POPULAR</div>

										<div class="listing-item-inner">
											<h3>JAVA SCRIPT<i class="verified-icon"></i></h3>
											<span>Create Dynamic & Interactive Websites with Ultimate Guide for Web
												Designers</span>
											<div class="star-rating" data-rating="4.9">
												<div class="rating-counter">(17 reviews)</div>
											</div>
										</div>
										<span class="like-icon"></span>
									</div>
								</a>
							</div>
						</div>
						<!-- Listing Item / End -->

						<!-- Listing Item -->
						<div class="col-lg-12 col-md-12">
							<div class="listing-item-container list-layout">
								<a href="{% url 'djangointernship' %}" class="listing-item">


									<!-- Image -->
									<div class="listing-item-image">
										<img src="{% static 'images/django-icon-svgrepo-com.png' %}" alt="Django Icon">
										<span class="tag">PROGRAMMING</span>
									</div>

									<!-- Content -->
									<div class="listing-item-content">
										<div class="listing-badge now-open">most popular-course</div>

										<div class="listing-item-inner">
											<h3>PYTHON DJANGO<i class="verified-icon"></i></h3>
											<span>"Discover the power of Django, a high-level Python web framework that
												enables rapid development of secure and maintainable websites.</span>
											<div class="star-rating" data-rating="5.0">
												<div class="rating-counter">(31 reviews)</div>
											</div>
										</div>

										<span class="like-icon"></span>
									</div>
								</a>
							</div>
						</div>
						<!-- Listing Item / End -->

						<!-- Listing Item -->
						<div class="col-lg-12 col-md-12">
							<div class="listing-item-container list-layout">
								<a href="{% url 'jqueryinternship' %}" class="listing-item">


									<!-- Image -->
									<div class="listing-item-image">
										<img src="{% static 'images/jquery-1-logo-svgrepo-com.png' %}"
											alt="jQuery Logo">
										<span class="tag">PROGRAMMING</span>
									</div>

									<!-- Content -->
									<div class="listing-item-content">

										<div class="listing-item-inner">
											<h3>Web Designing with jQuery</h3>
											<span>"Embark on a journey into web design mastery with jQuery, the
												versatile JavaScript library that brings interactivity and dynamism to
												your websites</span>
											<div class="star-rating" data-rating="4.5">
												<div class="rating-counter">(46 reviews)</div>
											</div>
										</div>

										<span class="like-icon"></span>
									</div>
								</a>
							</div>
						</div>
						<!-- Listing Item / End -->

						<!-- Listing Item -->
						<div class="col-lg-12 col-md-12">
							<div class="listing-item-container list-layout">
								<a href="{% url 'fullstackwithpython' %}" class="listing-item">


									<!-- Image -->
									<div class="listing-item-image">
										<img src="{% static 'images/download.png' %}" alt="Download Image">
										<span class="tag">PROGRAMMING</span>
									</div>

									<!-- Content -->
									<div class="listing-item-content">
										<div class="listing-badge ">MOST POPULAR</div>

										<div class="listing-item-inner">
											<h3>FULL STACK WITH PYTHON</h3>
											<span>"Embark on a comprehensive journey into full-stack development with
												Python and Django, empowering you to build scalable, feature-rich web
												applications seamlessly from database to user interface.</span>
											<div class="star-rating" data-rating="5.0">
												<div class="rating-counter">(31 reviews)</div>
											</div>
										</div>

										<span class="like-icon"></span>
									</div>
								</a>
							</div>
						</div>
						<!-- Listing Item / End -->

					</div>

					<!-- Pagination -->
					<div class="clearfix"></div>
					<div class="row">
						<div class="col-md-12">
							<!-- Pagination -->
						</div>
					</div>
					<!-- Pagination / End -->

				</div>


				<!-- Sidebar
		================================================== -->
				<div class="col-lg-3 col-md-4">
					<div class="sidebar">
						<!-- Widget -->
						<div class="widget margin-bottom-40">
							<h3 class="margin-top-0 margin-bottom-30">SEARCH HERE:</h3>
							<!-- Row -->
							<div class="row with-forms">
								<div class="col-md-12">
									<input type="text" id="searchInput" placeholder="What are you looking for?"
										value="" />
								</div>
							</div>
							<button class="button fullwidth margin-top-25" onclick="searchListings()">Search</button>
						</div>
						<!-- Widget / End -->
					</div>
				</div>

				<script>
					function searchListings() {
						var input, filter, listings, a, i, txtValue;
						input = document.getElementById("searchInput");
						filter = input.value.toUpperCase();
						listings = document.getElementsByClassName("listing-item");

						for (i = 0; i < listings.length; i++) {
							a = listings[i].getElementsByClassName("listing-item-inner")[0];
							txtValue = a.textContent || a.innerText;
							if (txtValue.toUpperCase().indexOf(filter) > -1) {
								listings[i].style.display = "";
							} else {
								listings[i].style.display = "none";
							}
						}
					}
				</script>
				<!-- Sidebar / End -->
			</div>
		</div>


		<!-- Footer
================================================== -->
		<div id="footer">
			<!-- Main -->
			<div class="container">
				<div class="row">
					<div class="col-md-5 col-sm-6">
						<img class="footer-logo" src="{% static 'images/internmate_transparent.png' %}"
							alt="InternMate Logo">

						<br><br>
						<p>InternMate is dedicated to bridging the gap between students and top companies by
							offering comprehensive internship opportunities. We provide extensive resources and
							personalized guidance to help you kickstart your career and achieve your professional
							goals.</p>
					</div>

					<div class="col-md-4 col-sm-6">
						<h4>Helpful Links</h4>
						<ul class="footer-links">
							<li><a href="#sign-in-dialog" class="popup-with-zoom-anim open-login">Login</a></li>
							<li><a href="#sign-in-dialog" class="popup-with-zoom-anim open-register">Sign Up</a>
							<li><a href="#">My Account</a></li>
						</ul>

						<ul class="footer-links">
							<li><a href="{% url 'faq' %}">FAQ</a></li>
							<li><a href="{% url 'contact' %}">Contact</a></li>
						</ul>
						<div class="clearfix"></div>
					</div>

					<div class="col-md-3 col-sm-12">
						<h4>Contact Us</h4>
						<div class="text-widget">
							<span>AMRITSAR,PUNJAB</span> <br>
							Phone: <span> +91 9877817876 </span><br>
							E-Mail:<span> <a href="mailto:internamte2024@gmail.com">internamte2024@gmail.com</a>
							</span><br>
						</div>

						<ul class="social-icons margin-top-20">
							<li><a class="linkedin" href="https://www.linkedin.com/in/internmate-32b619317"><i
										class="icon-linkedin"></i></a></li>
						</ul>
					</div>
				</div>

				<!-- Copyright -->
				<div class="row">
					<div class="col-md-12">
						<div class="copyrights">© 2024 InternMate. All Rights Reserved.</div>
					</div>
				</div>
			</div>
		</div <!-- Footer / End -->


		<!-- Back To Top Button -->
		<div id="backtotop"><a href="#"></a></div>


	</div>
	<!-- Wrapper / End -->



	<!-- Scripts
================================================== -->


<script type="text/javascript" src="{% static 'scripts/jquery-3.4.1.min.js' %}"></script>
<script type="text/javascript" src="{% static 'scripts/jquery-migrate-3.1.0.min.js' %}"></script>
<script type="text/javascript" src="{% static 'scripts/mmenu.min.js' %}"></script>
<script type="text/javascript" src="{% static 'scripts/chosen.min.js' %}"></script>
<script type="text/javascript" src="{% static 'scripts/slick.min.js' %}"></script>
<script type="text/javascript" src="{% static 'scripts/rangeslider.min.js' %}"></script>
<script type="text/javascript" src="{% static 'scripts/magnific-popup.min.js' %}"></script>
<script type="text/javascript" src="{% static 'scripts/waypoints.min.js' %}"></script>
<script type="text/javascript" src="{% static 'scripts/counterup.min.js' %}"></script>
<script type="text/javascript" src="{% static 'scripts/jquery-ui.min.js' %}"></script>
<script type="text/javascript" src="{% static 'scripts/tooltips.min.js' %}"></script>
<script type="text/javascript" src="{% static 'scripts/custom.js' %}"></script>

	<!-- Google Autocomplete -->
	<script>
		function initAutocomplete() {
			var input = document.getElementById('autocomplete-input');
			var autocomplete = new google.maps.places.Autocomplete(input);

			autocomplete.addListener('place_changed', function () {
				var place = autocomplete.getPlace();
				if (!place.geometry) {
					return;
				}
			});

			if ($('.main-search-input-item')[0]) {
				setTimeout(function () {
					$(".pac-container").prependTo("#autocomplete-container");
				}, 300);
			}
		}
	</script>
	


</body>

</html>